In [3]:
!wget -nc https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv

--2022-05-10 18:17:08--  https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv
Resolving lazyprogrammer.me (lazyprogrammer.me)... 104.21.23.210, 172.67.213.166, 2606:4700:3030::ac43:d5a6, ...
Connecting to lazyprogrammer.me (lazyprogrammer.me)|104.21.23.210|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5085081 (4.8M) [text/csv]
Saving to: ‘bbc_text_cls.csv’

bbc_text_cls.csv    100%[===================>]   4.85M  17.8MB/s    in 0.3s

2022-05-10 18:17:09 (17.8 MB/s) - ‘bbc_text_cls.csv’ saved [5085081/5085081]

In [2]:
import pandas as pd
import numpy as np
import nltk

from nltk import word_tokenize

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [4]:
df = pd.read_csv('bbc_text_cls.csv')

In [5]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [6]:
# populate word2idx
# convert documents into sequences of ints/ids/indices
idx = 0
word2idx = {}
tokenized_docs = []
for doc in df['text']:
  words = word_tokenize(doc.lower())
  doc_as_int = []
  for word in words:
    if word not in word2idx:
      word2idx[word] = idx
      idx += 1
    
    # save for later
    doc_as_int.append(word2idx[word])
  tokenized_docs.append(doc_as_int)

In [8]:
# reverse mapping
idx2word = {v:k for k,v in word2idx.items()}

In [9]:
# number of documents
N = len(df['text'])

In [10]:
# number of words
V = len(word2idx)

In [11]:
# instantiate term-frequency matrix
tf = np.zeros((N,V))

In [14]:
# populate term-frequency counts
for i, doc_as_int in enumerate(tokenized_docs):
  for j in doc_as_int:
    tf[i, j] += 1

In [15]:
# compute IDF
document_freq = np.sum(tf>0, axis=0)
idf = np.log(N/document_freq)

In [16]:
# compute TF-IDF
tf_idf = tf * idf

In [20]:
np.random.seed(123)
# pick a random document, show the top 5 terms (based on tf_idf score)
i = np.random.choice(N)
row = df.iloc[i]
print("Label:", row['labels'])
print("Text:", row['text'].split("\n", 1)[0])
print("Top 5 terms:")

scores = tf_idf[i]
indices = (-scores).argsort() # as score is ascending, so for top just negative to make it descending

for j in indices[:5]:
  print(idx2word[j])

Label: sport
Text: Athens memories soar above lows
Top 5 terms:
paula
athens
1500m
her
kelly